@import "../../styles/variables"
@import "../../styles/mixins"

.emojis
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  height: 200px
  overflow: auto
  background: rgb(235, 235, 235)

  .emoji-item
    padding: 10px

    .emoji
      size: 30px
      background-size: 30px auto
      background-repeat: no-repeat