//
// Variables
// --------------------------------------------------

/*
 * color
 */
$color-text =          #333333
$color-text-l =        #888888
$color-text-ll =       #a7a7a7
$color-border =        #dddddd
$color-background =    #F2F3F4
$color-overlay =       rgba(7, 17, 27, 0.4)
$color-theme =         rgb(69, 155, 254)
$color-sub-theme =     rgb(43, 193, 253)

$color-primary =       #337ab7
$color-success =       #5cb85c
$color-info =          #5bc0de
$color-warning =       #f0ad4e
$color-danger =        #d9534f

$white =               #ffffff


/*
 * font-size
 */
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px

$font-size-icon = 28px


